{% macro create(page) %}

{% if page.date %}
<span class="subtitle-piece">{{ page.date | date(format="%e %B %Y") }}</span>
<meta itemprop="dateCreated" content="{{ page.date | date(format="%F") }}">
{% endif %}

<meta itemprop="timeRequired" content="PT{{ page.reading_time }}M">
<span class="subtitle-piece">{{ page.reading_time }} min read</span>

{% if page.taxonomies.categories %}
{% set category = page.taxonomies.categories[0] %}
{% set category_url  = get_taxonomy_url(kind="categories", name=category) %}
<span class="subtitle-piece">Category: <a href="{{ category_url }}" class="taxonomy-link">{{ category }}</a></span>
{% endif %}

{% if page.taxonomies.tags %}
<span class="subtitle-piece">
Tags: {% for tag in page.taxonomies.tags %}
{% set tag_url = get_taxonomy_url(kind="tags", name=tag) %}
<a href="{{ tag_url }}" class="taxonomy-link">{{ tag }}</a>
{% endfor %}
</span>
{% endif %}

{% endmacro create %}