<!doctype html>
<html lang="en">
    <!--
"THE BEER-WARE LICENSE" (Revision 42):
<me@gisch.dev> wrote this website. As long as you retain this notice you can do
whatever you want with this stuff. If we meet some day, and you think this stuff
is worth it, you can buy me a beer in return.   Julia Scheaffer
-->

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block head %}
        <link rel="stylesheet" href="{{ config.base_url }}style.css" />
        <link
            rel="stylesheet"
            href="https://fred-wang.github.io/MathFonts/LatinModern/mathfonts.css"
        />

        {% endblock head %}
    </head>

    <body>
        <main>{% block content %}{% endblock content %}</main>
        <footer>
            {% block footer %} <a href="{{ config.base_url }}">Home</a> - &copy;
            Copyright {{ now() | date(format="%Y") }} Julia Scheaffer -
            <a
                href="https://gitlab.com/pythongirl/gisch.dev/-/blob/master/LICENSE"
                >License</a
            >
            -
            <a href="https://gitlab.com/pythongirl/gisch.dev">Source</a>
            {% endblock footer %}
        </footer>

        {% if config.extra.debug %}
        <div>{{ __tera_context | escape }}</div>
        {% endif %}
    </body>
</html>
